version: '3.8'

services:
  webhook:
    build: .
    container_name: audit-log-webhook
    image: 429451815258.dkr.ecr.us-east-1.amazonaws.com/auditlog-webhook
    ports:
      - "8080:8080"
    environment:
      - PYTHONUNBUFFERED=1
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_SESSION_TOKEN=${AWS_SESSION_TOKEN:-}
      - AWS_REGION=${AWS_REGION:-us-east-1}
      - LOG_GROUP_NAME=${LOG_GROUP_NAME:-appl_audit_log}
    restart: unless-stopped
    stdin_open: true
    tty: true
